<h1>Question:</h1>
{% if latest_question_list %}
    <ul>
    {% for question in latest_question_list %}
        <li><a href="{% url 'polls:detail' question.id %}">{{ question.question_text }}</a></li>
    {% endfor %}
    </ul>
{% else %}
{% endif %}
<br>
  <a href="{%  url 'polls:add-question' %}">
      Add question
  </a><br>
      <a href="{%  url 'polls:add' %}">
      Add
  </a><br>
</p>
<h1>Filter question:</h1>
 {% for question in questions %}
        <li><a href="{% url 'polls:detail' question.id %}">{{ question.question_text }}</a></li>
    {% endfor %}

<h1>Filter question example :</h1>
 {% for question in question_example %}
        <li><a href="{% url 'polls:detail' question.id %}">{{ question.question_text }}</a></li>
    {% endfor %}

<h1>Filter pub_date :</h1>
 {% for question in question_pub_date %}
        <li><a href="{% url 'polls:detail' question.id %}">{{ question.question_text }}</a></li>
    {% endfor %}